 .grid{
    display: grid;
    grid-gap: 5px;
    align-self: center;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}
.griditem{
   /* padding: 5px;*/
    background-color: aqua;
    border-radius: 10px;
    text-align: center;
    }
body{
        margin: 30px;
    }
button{
    align-items: center;
}

.imgCar{
    visibility: visible;
    display: block;
}

/*thirukkural css*/
.resultKural{
    display: flex;
    justify-content: space-evenly;
    background: darkkhaki;
    color: darkblue;
    border-style: ridge;
}
.mobile{
    display: block;
}
.bigScreen{
    display: none;
}


@media only screen and (min-width:600px)
{
    .bigScreen{
        display: block;
    }
    .mobile{
        display: none;
    }
}
.kuralTamil{
    display: grid;
}
.kuralEnglish{
    display: grid;
}
.kuralnumber, .mkuralnumber{
    text-align: center;
    display: grid;
    /* justify-items: end; */
    align-items: center;
    border:solid;
}
.kuralDisplayT, .mkuralDisplayT{
    background: antiquewhite;
}
.kuralDisplayE, .mkuralDisplayE{
    background: antiquewhite;
}